<!DOCTYPE html>
<html>
<head>
  {{{styles}}}
</head>
<body {{{bodyClasses}}}>
  <div class="wrapper flex">
    <div class="signature">
      <img class="arrow" src="./images/arrow.png">
      <div class="avatar-wrapper">
        <img class="avatar" src="{{{avatar}}}">
        <img class="outline" src="./images/avatar-outline.png">
      </div>
      <div class="info">
        <p class="name">{{{first}}} {{{last}}}</p>
        <p class="location">{{{city}}}, {{{state}}}</p>
      </div>
    </div>
  </div>
  {{{scripts}}}
</body>
</html>